* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.8;
  font-size: 1em;
  // background: #f2f5f9;
  // color: #000839;
  overflow-x: hidden;
  background-color: #202040;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 30px;
  line-height: 1.2;
}

h3 {
  font-size: 18px;
  line-height: 1.2;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

a:active {
  background-color: white;
  color: -webkit-activelink;
  color: none;
}
